.font-color-white
{
    color: white;
    font-family: "Trirong", serif;
}

.bg-color
{
    background-color: #2e353c;
}

.my-space
{
    width: 12%;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
}

.footer-link
{
    color: white;
    text-decoration: none;
}

.footer-link:hover
{
    color: white;
    text-decoration: underline;
}

.form-style
{
    width: 30%;
}

.about-title
{
    font-family: "Trirong", serif;
}

.font-color-white:hover
{
    text-decoration: none;
    color: white;
    font-family: "Trirong", serif;
}

.select_button
{
    left: 500px;
}

.centered
{
    text-align: center;
}

.index-buttons
{
    background-color: lightgrey;
    width: 500px;
    border: 2px solid #2e353c;
    padding: 50px;
    margin: 30px;
}

.form-style
{
    width: 30%;
}

.same_line
{
    display: flex;
    margin: auto;
}

.centered
{
    margin: auto;
}

.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.below
{
    background-color: #2e353c;
    color: white;
}

.login-form
{
    width: 50%;
}

#apology
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login_page
{
    color: black;
}