{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="container-sm pt-5 text-center">
        <h3 class="about-title">About us</h3>
    </div>
    <div class="container-fluid pt-2 pb-5 text-center">
        <p class="mx-auto">OneTwoThree Lectures has been made to bring some facilities for persons who wants to do their lectures.</p>
        <p>With this web system, these people are able to raach their public easier.</p>
        <p class="about-title pt-4"><b>Some Facilities:</b></p>
        <p>More centralized informations about lectures.</p>
        <p>More organization about the participants.</p>
        <p>Send conclusion's certificate easier.</p>
        <p>A historic about all the lectures.</p>
        <p class="pb-5">Intuitive.</p>
    </div>
{% endblock %}