{% extends "layout.html" %}

{% block title %}
    Admin - Add User
{% endblock %}

{% block main %}
{% if get_flashed_messages() %}
<header>
    <div class="alert alert-danger mb-0 text-center" role="alert">
        {{ get_flashed_messages() | join(" ") }}
    </div>
</header>
{% endif %}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
          <li class="breadcrumb-item"><a href="/manage_users">Manage Users</a></li>
          <li class="breadcrumb-item active" aria-current="page">New User</li>
        </ol>
      </nav>
</div>

<form method="post" action="/new_user" class="pt-5 pb-5">
    <div class="row mb-3 text-center">
      <label for="inputEmail3" class="col-sm-2 col-form-label fs-5">User Login</label>
      <div class="col-sm-10">
        <input type="text" class="form-control w-25" id="inputEmail3" name="login" autocomplete="off" autofocus placeholder="Username" required>
      </div>
    </div>
    <div class="row mb-3 text-center">
      <label for="inputPassword3" class="col-sm-2 col-form-label fs-5">User Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control w-25" id="inputPassword3" name="password" placeholder="Password" required>
      </div>
    </div>
    <div class="row mb-3 text-center">
      <label for="email" class="col-sm-2 col-form-label fs-5">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control w-25" id="email" name="email" placeholder="name@example.com" autocomplete="on" required>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1" name="disabled">
          <label class="form-check-label" for="gridCheck1">
            Disabled
          </label>
        </div>
      </div>
    </div>
    <div class="container-fluid text-center">
        <button type="submit" class="btn btn-success">Save</button>
        <a type="button" class="btn btn-outline-dark " href="/manage_users">Cancel</a>
    </div>
  </form>
  <div class="pt-5 pb-5">
    .
  </div>
{% endblock %}