{% extends "layout.html" %}

{% block title %}
    Admin Section
{% endblock %}

{% block main %}
    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-success mb-0 text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Admin</li>
            </ol>
          </nav>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto pt-5 pb-5">
        <a class="btn btn-outline-dark w-50 centered" type="button" href="/lectures">Manage lectures</a>
        <a class="btn btn-outline-dark w-50 centered" type="button" href="/manage_users">Manage admin users</a>
    </div>
    <div class="pb-5">
        .
    </div>
    <div class="pb-5">
        .
    </div>
    <div class="pb-5">
        .
    </div>
    <div class="pb-5">
        .
    </div>
    <div class="pb-5">
        .
    </div>

{% endblock %}