{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-danger mb-0 text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}
    <form method="post" action="/change_passwd">
        <div class="mb-3 pt-5 text-center">
            <label for="password" class="form-label">New Password:</label>
            <input type="password" class="form-control w-25 mx-auto" placeholder="Password"  id="password" name="password">
        </div>
        <div class="mb-3 pt-5 text-center">
            <label for="confirm" class="form-label">Repeat Password:</label>
            <input type="password" class="form-control w-25 mx-auto" id="confirm" placeholder="Password" name="confirm">
        </div>
        <div class="container-sm text-center">
            <input type="hidden" value="{{ id }}" name="uid">
            <button type="submit" class="btn btn-success mt-4">Submit</button>
            <a href="/login" class="btn btn-outline-dark mt-4">Cancel</a>
        </div>
    </form>
{% endblock %}