{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}

    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-danger mb-0 text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
        </nav>
    </div>

    <div class="border border-dark rounded mt-5 mb-5 container-sm" style="--bs-border-opacity: .5;">
        <div class="about-title container-sm text-center mb-5 pt-3">
            <h3>Contact</h3>
        </div>
        <div class="container-sm contact-content mb-5">
            If you have any question ou trouble, contact us using the following form.
        </div>
        <div class="container-sm">
            <form action="/contact" method="post">
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="f_name" class="form-label">First name*</label>
                        <input type="text" class="form-control" name="f_name" id="f_name" placeholder="First Name" required>
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="l_name" class="form-label">Last Name*</label>
                        <input type="text" class="form-control" name="l_name" id="l_name" placeholder="Last Name" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address*</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message*</label>
                    <textarea class="form-control" id="message" name="message" placeholder="Message" rows="3" required></textarea>
                </div>
                <div class="container-sm pt-4 mb-4 centered">
                    <input type="submit" class="btn btn-success" href="/contact" value="Send">
                    <input type="reset" value="Reset" class="btn btn-outline-dark">
                </div>
            </form>
        </div>
    </div>
{% endblock %}