{% extends "layout.html" %}

{% block title %}
    Delete Lecture
{% endblock %}

{% block main %}
{% if get_flashed_messages() %}
<header>
    <div class="alert alert-danger mb-0 text-center" role="alert">
        {{ get_flashed_messages() | join(" ") }}
    </div>
</header>
{% endif %}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/lectures">Lectures</a></li>
          <li class="breadcrumb-item active" aria-current="page">Delete lecture</li>
        </ol>
      </nav>
</div>

<form method="post" action="/delete_lecture" class="pt-5 pb-5">
    <div class="container-sm mx-auto centered">
      <label for="id" class="form-label">Lecture:</label>
      <div class="centered mx-auto">
        <select class="mb-3 w-25" name="id" required>
          <option selected disabled>Choose</option>
          {% if id %}
            {% for l in lectures %}
              {% if l['id'] == id %}
                <option value="{{ l['id'] }}" selected>{{ l['l_title'] }} - {{ l['professor'] }}</option>
              {% else %}
                <option value="{{ l['id'] }}">{{ l['l_title'] }} - {{ l['professor'] }}</option>
              {% endif %}
            {% endfor %}
          {% else %}
            <option selected disabled>Select</option>
            {% for l in lectures %}
              <option value="{{ l['id'] }}">{{ l['l_title'] }} - {{ l['professor'] }}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>
  <div class="container-fluid centered pt-5 pb-5 row" style="width:15%;">
    <button type="submit" class="btn btn-danger centered mb-3">Delete</button>
    <a type="button" class="btn btn-outline-dark centered" href="/lectures">Cancel</a>
  </div>
</form>
<div class="pt-5 pb-5">
  .
</div>
<div class="pt-5 pb-5">
  .
</div>


{% endblock %}
