{% extends "layout.html" %}

{% block title %}
    Delete User
{% endblock %}

{% block main %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
          <li class="breadcrumb-item"><a href="/manage_users">Manage Users</a></li>
          <li class="breadcrumb-item active" aria-current="page">Delete User</li>
        </ol>
      </nav>
</div>

<form method="post" action="/delete_user" class="pt-5 pb-5">
    <div class="row mb-3 text-center fs-5">
      <label for="inputEmail3" class="col-sm-2 col-form-label centered">User Login</label>
      <div class="col-sm-10">
        <select class="form-select w-25" aria-label="Default select example" name="login">
            {% if login_id %}
              {% for user in users %}
                {% if user['id'] == login_id %}
                  <option value="{{ user['id'] }}" selected>{{ user['username'] }}</option>
                {% else %}
                  <option value="{{ user['id'] }}">{{ user['username'] }}</option>
                {% endif %}
              {% endfor %}
            {% else %}
              <option selected disabled>Select</option>
              {% for user in users %}
                <option value="{{ user['id'] }}">{{ user['username'] }}</option>
              {% endfor %}
            {% endif %}
        </select>
      </div>
    </div>
    <div class="container-sm">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a type="button" class="btn btn-outline-dark" href="/manage_users">Cancel</a>
    </div>
  </form>
  <div class="pt-5 pb-5">
    .
  </div>
  <div class="pt-5 pb-5">
    .
  </div>
  <div class="pt-5 pb-5">
    .
  </div>

{% endblock %}
