{% extends "layout.html" %}

{% block title %}
    Admin - Edit User
{% endblock %}

{% block main %}

<script>
  function reset_values()
  {
    document.getElementById("email").value = "";
    document.getElementById("password").value = "";
    document.getElementById("disabled").checked = false;
  }
</script>

{% if get_flashed_messages() %}
<header>
    <div class="alert alert-danger mb-0 text-center" role="alert">
        {{ get_flashed_messages() | join(" ") }}
    </div>
</header>
{% endif %}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
          <li class="breadcrumb-item"><a href="/manage_users">Manage Users</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit User</li>
        </ol>
      </nav>
</div>

<form method="post" action="/edit_user" class="pt-5 pb-5">
    <div class="row mb-3 text-center">
      <label for="inputEmail3" class="col-sm-2 col-form-label fs-5">User Login</label>
      <div class="col-sm-10">
        <select class="form-select w-25" aria-label="Default select example" name="login" id="login" onchange="reset_values();">
          {% if login_id %}
            {% for user in users %}
              {% if user['id'] == login_id %}
                <option value="{{ user['id'] }}" selected>{{ user['username'] }}</option>
              {% else %}
                <option value="{{ user['id'] }}">{{ user['username'] }}</option>
              {% endif %}
            {% endfor %}
          {% else %}
            <option selected disabled>Select</option>
            {% for user in users %}
              <option value="{{ user['id'] }}">{{ user['username'] }}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>
    <div class="row mb-3 text-center">
      <label for="inputPassword3" class="col-sm-2 col-form-label fs-5">New User Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control w-25" id="password" name="password" placeholder="Type here a new password." autocomplete="off">
      </div>
    </div>
    <div class="row mb-3 text-center">
      <label for="email" class="col-sm-2 col-form-label fs-5">Email</label>
      <div class="col-sm-10">
        {% if login_id %}
          {% for user in users %}
            {% if user['id'] == login_id %}
              <input type="email" class="form-control w-25" id="email" name="email" placeholder="Email" autocomplete="off" value="{{ user['email'] }}">
            {% endif %}
          {% endfor %}
        {% else %}
          <input type="email" class="form-control w-25" id="email" name="email" placeholder="Email" autocomplete="off">
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
	  {% if login_id %}
            {% for user in users %}
	      {% if user['id'] == login_id %}
	        {% if user['status'] == 0 %}
	        <input class="form-check-input" type="checkbox" id="disabled" name="disabled">
		{% else %}
		<input class="form-check-input" type="checkbox" id="disabled" name="disabled" checked>
		{% endif %}
	      {% endif%}
	    {% endfor %}
	  {% else %}
	    <input class="form-check-input" type="checkbox" id="disabled" name="disabled">
	  {% endif %}
          <label class="form-check-label" for="gridCheck1">
            Disabled
          </label>
        </div>
      </div>
    </div>
    <div class="container-fluid text-center">
        <button type="submit" class="btn btn-success">Save</button>
        <a type="button" class="btn btn-outline-dark" href="/manage_users">Cancel</a>
    </div>
  </form>
{% endblock %}
