{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}
    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-danger mb-0 text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}
    <form method="post" action="/forgot">
        <div class="mb-3 pt-5 text-center">
            <label for="email" class="form-label">Type your email address below:</label>
            <input type="email" class="form-control w-25 mx-auto" id="email" placeholder="name@example.com" name="email">
            <div id="emailHelp" class="form-text">If the email above is valid. You will receive an email containing a code.</div>
        </div>
        <div class="container-sm text-center">
            <button type="submit" class="btn btn-success mt-4">Send</button>
            <a href="/login" class="btn btn-outline-dark mt-4">Cancel</a>
        </div>
    </form>
{% endblock %}