{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block main %}
  {% if get_flashed_messages() %}
  <header>
      <div class="alert alert-success mb-0 text-center" role="alert">
          {{ get_flashed_messages() | join(" ") }}
      </div>
  </header>
  {% endif %}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item active sm-3" aria-current="page">Home</li>
        </ol>
    </nav>
</div>

<div class="container same_line pt-5 mb-5">
    <div class="card me-5 centered" style="width: 18rem;">
        <img src="../static/images/participant_section.png" class="card-img-top" alt="participant-area">
        <div class="card-body">
          <h5 class="card-title">Participant Section</h5>
          <p class="card-text">If you want to be a participant of a lecture, you can click right here.</p>
          <a href="/my_space" class="btn btn-outline-dark">Go!</a>
        </div>
      </div>
      <div class="card ms-5 centered" style="width: 18rem;">
        <img src="../static/images/admin-section.png" class="card-img-top" alt="admin-area">
        <div class="card-body">
          <h5 class="card-title">Admin Section</h5>
          <p class="card-text">If you want to access Admin's Area, click here.</p>
          <a href="/admin" class="btn btn-outline-dark">Go!</a>
        </div>
      </div>
</div>
<div class="pt-5">.</div>

{% endblock %}



