<!DOCTYPE html>

<html lang="en">
    <head>
        <title>OneTwoThree - {% block title %} {% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link href="../static/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
        <link href="../static/images/logo.png" rel="icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    </head>
    <body>
        <nav class="navbar bg-color">
            <div class="container-fluid">
              <a class="navbar-brand font-color-white" href="/">
                <img src="../static/images/logo.png" alt="Logo" width="40" height="40" href="/" class="d-inline-block align-text-top font-color-white"></a>
                <span class="navbar-text">
                    <ul class="m-3 nav">
                        <li class="nav-item">
                            <a class="nav-link text-white active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/lectures">Lectures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/my_space">My Space</a>
                        </li>
                        {% if session["user_id"] %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>
                                <ul class="dropdown-menu dropdown-menu-white">
                                    <li><a class="dropdown-item" href="/manage_users">Manage users</a></li>
                                    <li><a class="dropdown-item" href="/lectures">Manage lectures</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </span>
                <span class="navbar-text">
                    {% if session["user_id"] %}
                        <a class="btn btn-light" href="/logout" role="button">Log Out</a>
                    {% else %}
                        <a class="btn btn-light" href="/login" role="button">Admin Login</a>
                    {% endif %}
                  </span>
            </div>
        </nav>



        <main class="main-content pb-5">
            {% block main %}
            {% endblock %}
        </main>
        <footer class="pt-5">
            <div class="container-fluid">
                <div class="below row pt-3 pb-3">
                    <div class="container-sm below centered" style="width: 20%; margin-left: auto; margin-right: 0;">
                        <img src="../static/images/logo.png" alt="Logo" width="150" height="150" href="/"></a>
                    </div>
                    <div class="container-sm below pt-3" style="width: 10%; margin-left: 0; margin-right: auto;">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link footer-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link footer-link" href="/lectures">Lectures</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link footer-link" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link footer-link" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="container-sm below col-md-4 text-center centered mx-auto">
                        <p>OneTwoThree Lectures &copy;</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
