{% extends "layout.html" %}

{% block title %}
    Lectures
{% endblock %}

{% block main %}
    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-success mb-0 text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Lectures</li>
            </ol>
          </nav>
    </div>

    {% if session["user_id"] %}
        <div class="pt-5 container-fluid">
            <a type="button" class="btn btn-success ms-1" href="/new_lecture">New Lecture</a>
            <a type="button" class="btn btn-danger ms-1" href="/delete_lecture">Delete Lecture</a>
            <a type="button" class="btn btn-warning ms-1" href="/professors">View / Edit professors</a>
        </div>
    {% endif %}

<div class="pb-2 pt-3 container-fluid">
    <table class="table table-dark table-hover pt-5 table-sm align-middle">
        <theader>
            <tr>
                {% if session["user_id"] %}
                    <th>ID</th>
                {% endif %}
                <th>Subject</th>
                <th>Date</th>
                <th>Professor</th>
                {% if session["user_id"] %}
                    <th>File Path</th>
                {% endif %}
                <th>Status</th>
                <th>Action</th>

            </tr>
        </theader>
        <tbody>
            {% for lecture in lectures %}
                <tr>
                    {% if session["user_id"] %}
                        <td>{{ lecture['id'] }}</td>
                    {% endif %}
                    <td>{{ lecture['l_title'] }}</td>
                    <td>{{ lecture['timedate'] }}</td>
                    <td>{{ lecture['professor'] }}</td>
                    {% if session["user_id"] %}
                        <td>{{ lecture['pdf_file_path'] }}</td>
                    {% endif %}
                    <td>
                        {% if lecture['status'] == 0 %}
                            Open
                        {% else %}
                            Closed
                        {% endif %}
                    </td>
                    {% if session["user_id"] %}
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Choose
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                  <li>
                                    <form action="/edit_lecture" method="get">
                                        <input type="hidden" name="id" value="{{ lecture['id'] }}">
                                        <input type="submit" class="dropdown-item" value="Edit">
                                    </form>
                                  </li>
                                  <li>
                                    <form action="/delete_lecture" method="get">
                                        <input type="hidden" name="id" value="{{ lecture['id'] }}">
                                        <input type="submit" class="dropdown-item" value="Delete">
                                    </form>
                                  </li>
                                  <li>
                                    <form action="/view_participants" method="get">
                                        <input type="hidden" name="id" value="{{ lecture['id'] }}">
                                        <input type="submit" class="dropdown-item" value="Participants list">
                                    </form>
                                  </li>
                                  {% if lecture['pdf_file_path'] != '-' %}
                                    <li>
                                        <form action="/remove_pdf_file" method="post">
                                            <input type="hidden" name="id" value="{{ lecture['id'] }}">
                                            <input type="submit" class="dropdown-item" value="Remove PDF File">
                                        </form>
                                    </li>
                                  {% endif %}
                                </ul>
                              </div>
                        </td>
                    {% else %}
                        <td>
                        {% if lecture['status'] == 0 %}
                            <form action="/enroll_lecture" method="post">
                                <input type="hidden" name="id" value="{{ lecture['id'] }}">
                                <input type="submit" class="btn btn-success" value="Get Enroll">
                            </form>
                        {% else %}
                            <button class="btn btn-danger" disabled>Closed</button>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pt-5 pb-5">
    .
</div>
<div class="pt-4">
    .
</div>

{% endblock %}
