{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

{% if get_flashed_messages() %}
<header>
    <div class="alert alert-danger mb-0 text-center" role="alert">
        {{ get_flashed_messages() | join(" ") }}
    </div>
</header>
{% endif %}

<div class="container-fluid">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Login</li>
      </ol>
    </nav>
</div>


<div class="container-sm pt-5 form-style">
    <form action="/login" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Login</label>
          <input type="text" class="form-control mx-auto border border-dark" name="login" id="login" autofocus autocomplete="off" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control mx-auto border border-dark" name="password" id="password" required>
          <a href="/forgot" class="login_page login_page">Forgot your password?</a>
        </div>
        <div class="container-sm text-center">
          <button type="submit" class="btn btn-outline-dark mt-4">Log In</button>
        </div>
    </form>
</div>
<div class="pt-5">
.
</div>
<div class="pt-5 pb-5">
.
</div>
{% endblock %}
