{% extends "layout.html" %}

{% block title %}
    Admin - List Users
{% endblock %}

{% block main %}
{% if get_flashed_messages() %}
<header>
    <div class="alert alert-success mb-0 text-center" role="alert">
        {{ get_flashed_messages() | join(" ") }}
    </div>
</header>
{% endif %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
              <li class="breadcrumb-item active" aria-current="page">Manage Users</li>
            </ol>
          </nav>
    </div>

    <div class="pt-5 container-sm">
        <a type="button" class="btn btn-success ms-1" href="/new_user">New User</a>
        <a type="button" class="btn btn-danger ms-1" href="/delete_user">Delete User</a>
        <a type="button" class="btn btn-outline-dark ms-1" href="/edit_user">Edit User</a>
    </div>

    <div class="pb-5 pt-3 container-sm">
        <table class="table table-dark table-hover pt-5 table-sm align-middle">
            <theader>
                <tr>
                    <th>ID</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Last login</th>
                    <th>Last password change</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </theader>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user['id'] }}</td>
                        <td>{{ user['username'] }}</td>
                        <td>{{ user['email'] }}</td>
	                    <td>{{ user['last_login'] }}</td>
                        <td>{{ user['last_pw_change'] }}</td>
                        <td>
                            {% if user['status'] == 0 %}
                                Enabled
                            {% else %}
                                Disabled
                            {% endif %}
                        </td>
                        <td>
                            <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Choose
                                    </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li>
                                        <form action="/edit_user" method="get">
                                            <input type="hidden" name="id" value="{{ user['id'] }}">
                                            <input type="submit" class="dropdown-item" value="Edit">
                                        </form>
                                    </li>
                                    <li>
                                        <form action="/delete_user" method="get">
                                            <input type="hidden" name="id" value="{{ user['id'] }}">
                                            <input type="submit" class="dropdown-item" value="Delete">
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pt-5 pb-5">
        .
      </div>
      <div class="pt-5 pb-5">
        .
      </div>
{% endblock %}
