{% extends "layout.html" %}

{% block title %}
    My Space
{% endblock %}

{% block main %}
    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-success mb-0 text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}

    <div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My space</li>
        </ol>
        </nav>
    </div>

    <div class="container-fluid">
        <div class="container-sm border border-dark rounded my-space" style="--bs-border-opacity: .5;">
            Hello, {{ username[0]['first_name'] }} (<a href="/quit">Quit</a>)
        </div>
    </div>

    <div class="container-sm text-left pb-2">
        <h3>Lectures I'm subscribed to</h3>
    </div>

    <div class="pt-5 pb-5 container-sm text-center" style="width:60%;">
        <table class="table table-hover pt-5 align-middle">
            <theader>
                <tr>
                    <th>Lecture</th>
                    <th>Datetime</th>
                    <th>Professor</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </theader>
            <tbody>
                {% for l in lectures %}
                    <tr>
                        <td><b>{{ l['l_title'] }}</b></td>
                        <td>{{ l['timedate'] }}</td>
                        <td>{{ l['professor_name'] }}</td>
                        <td>
                            {% if l['status'] == 0 %}
                                Opened
                            {% else %}
                                Closed
                            {% endif %}
                        </td>
                        <td>
                            <div class="centered mx-auto">
                                {% if l[1] == 1 %}
                                    <form action="/request_certificate" method="post">
                                        <input type="hidden" value="{{ l['id'] }}" name="id">
                                        <input type="submit" value="Get Certificate" class="btn btn-success btn-sm text-center centered">
                                    </form>
                                {% else %}
                                    <form method="post" action="/quit_lecture">
                                        <button type="submit" name="id" class="btn btn-danger btn-sm" value="{{ l['id'] }}">Quit Lecture</button>
                                    </form>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pt-5 pb-5">
        .
    </div>
    </div>
    <div class="pt-5 pb-5">
        .
    </div>
{% endblock %}
