{% extends "layout.html" %}

{% block title %}
    New Lecture
{% endblock %}

{% block main %}
{% if get_flashed_messages() %}
<header>
    <div class="alert alert-danger mb-0 text-center" role="alert">
        {{ get_flashed_messages() | join(" ") }}
    </div>
</header>
{% endif %}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/lectures">Lectures</a></li>
          <li class="breadcrumb-item active" aria-current="page">New Lecture</li>
        </ol>
      </nav>
</div>

<form class="row g-3 needs-validation container-sm mx-auto pt-5" method="post" action="/new_lecture" enctype="multipart/form-data">
    <div class="col-md-4">
      <label for="title" class="form-label">Subject:</label>
      <input type="text" class="form-control" id="title" placeholder="Lecture's name" name="title" required>
    </div>
    <div class="col-md-4">
      <label for="professor" class="form-label">Professor:</label>
      <select type="text" class="form-select" id="professor" placeholder="Professor's name" name="professor" required>
        <option selected disabled value="">Choose...</option>
        {% for professor in professors %}
          <option value="{{ professor['id'] }}">{{ professor['name'] }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-4">
      <label for="timedate" class="form-label">Datetime:</label>
      <div class="input-group">
        <input type="datetime-local" class="form-control w-25" id="timedate" name="timedate" placeholder="When" autocomplete="off" required>
      </div>
    </div>
    <div class="col-md-6 pt-4">
      <label for="pdf_file" class="form-label">PDF Certificate File (Certificate model):</label>
      <input type="file" class="form-control" id="pdf_file" name="file">
    </div>
    <div class="col-md-6 pt-4">
        <label for="status" class="form-label">Status:</label>
        <select class="form-select" id="status" name="status" required>
          <option selected disabled value="">Choose...</option>
          <option value="0">Opened</option>
          <option value="1">Closed</option>
        </select>
    </div>

    <div class="container-fluid text-center pt-5 pb-5">
        <button type="submit" class="btn btn-success">Save</button>
        <a type="button" class="btn btn-outline-dark " href="/lectures">Cancel</a>
    </div>
</form>
<div class="pt-5 pb-5">
   .
</div>
{% endblock %}
