{% extends "layout.html" %}

{% block title %}
    Participant Section
{% endblock %}

{% block main %}
    <script>

        function s2()
        {

            // Disable all inputs of the first radio
            document.getElementById("registration_code").disabled = true;
            document.getElementById("check").disabled = true;

            // Enable all inputs of the second radio
            document.getElementById("f_name").disabled = false;
            document.getElementById("l_name").disabled = false;
            document.getElementById("birthday").disabled = false;
            document.getElementById("country").disabled = false;
            document.getElementById("city").disabled = false;
            document.getElementById("state").disabled = false;
            document.getElementById("email").disabled = false;
            document.getElementById("phonenumber").disabled = false;
            document.getElementById("occupation").disabled = false;
            document.getElementById("gender").disabled = false;
            document.getElementById("submit").disabled = false;
            document.getElementById("reset").disabled = false;

        }

        function s1()
        {
            // Disable all inputs of the second radio
            document.getElementById("f_name").disabled = true;
            document.getElementById("l_name").disabled = true;
            document.getElementById("birthday").disabled = true;
            document.getElementById("city").disabled = true;
            document.getElementById("state").disabled = true;
            document.getElementById("country").disabled = true;
            document.getElementById("email").disabled = true;
            document.getElementById("phonenumber").disabled = true;
            document.getElementById("occupation").disabled = true;
            document.getElementById("gender").disabled = true;
            document.getElementById("submit").disabled = true;
            document.getElementById("reset").disabled = true;

            // Enable all inputs of the first radio
            document.getElementById("registration_code").disabled = false;
            document.getElementById("check").disabled = false;
        }

    </script>

    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-danger mb-0 text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}

    <div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Participant Section</li>
        </ol>
        </nav>
    </div>
    <div class="container-sm mx-auto border border-dark mt-5 pt-5 rounded" style="--bs-border-opacity: .5;">
        <div class="form-check ps-5 pb-3">
            <input class="form-check-input" type="radio" name="selection" id="selection1" checked onclick="s1();">
            <label class="form-check-label" for="selection1">
              I already have a registration code.
            </label>
            <div class="container-sm ps-5 pt-3 mb-4">
                <div class="mb-1">
                    <label for="registration_code">Registration code:</label>
                </div>
                <form action="/check_registration_code" method="post">
                    <input class="form-control w-25" type="text" name="registration_code" id="registration_code" placeholder="Type here your Registation code." autofocus autocomplete="off">
                    <div class="pt-3">
                        <input type="submit" class="btn btn-outline-dark" id="check" value="Check">
                    </div>
                </form>
            </div>
          </div>
          <div class="form-check ps-5">
            <input class="form-check-input" type="radio" name="selection" id="selection2" onclick="s2();">
            <label class="form-check-label" for="selection2">
              I don't have a registration code yet.
            </label>
            <form class="row g-3 pt-4" action="/new_participant" method="post">
                <div class="col-md-4">
                    <label for="f_name" class="form-label">First name *</label>
                    <input type="text" class="form-control" id="f_name" name="f_name" placeholder="First name" required disabled>
                </div>
                <div class="col-md-4">
                    <label for="l_name" class="form-label">Last name *</label>
                    <input type="text" class="form-control" id="l_name" name="l_name" placeholder="Last name" required disabled>
                </div>
                <div class="col-md-4 pe-4">
                    <label for="birthday" class="form-label">Birthday *</label>
                    <input type="date" class="form-control" id="birthday" name="birthday" aria-describedby="inputGroupPrepend" required disabled>
                </div>
                <div class="col-md-4">
                    <label for="country" class="form-label">Country *</label>
                    <select class="form-select" readonly id="country" name="country" placeholder="Country" required disabled>
                        {% for country in countries %}
                            <option selected value="{{ country['id'] }}">{{ country['name'] }}</option>
                        {% endfor %}
                      </select>
                  </div>
                  <div class="col-md-2">
                    <label for="state" class="form-label">State *</label>
                    <select class="form-select" id="state" name="state" placeholder="State" required disabled>
                      <option selected disabled>Choose...</option>
                        {% for state in states %}
                            <option value="{{ state['id'] }}">{{ state['name'] }}</option>
                        {% endfor %}
                    </select>
                  </div>
                <div class="col-md-2">
                  <label for="city" class="form-label">City *</label>
                  <input type="text" class="form-control" id="city" name="city" placeholder="City" required disabled>
                </div>
                <div class="col-md-4 pe-4">
                    <label for="gender" class="form-label">Gender *</label>
                    <select class="form-select" id="gender" name="gender" required disabled>
                        <option disabled selected>Choose...</option>
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                    </select>
                </div>
                    <div class="col-md-4">
                        <label for="email" class="form-label">Email *</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com" required disabled>
                    </div>
                    <div class="col-md-4">
                        <label for="phonenumber" class="form-label">Phonenumber *</label>
                        <input type="tel" id="phonenumber" name="phonenumber" class="form-control" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required disabled>
                    </div>
                    <div class="col-md-4 pe-4">
                        <label for="occupation" class="form-label">Occupation</label>
                        <input type="text" class="form-control" id="occupation" name="occupation" placeholder="Occupation" disabled>
                    </div>
                <div class="col-12 pb-5 pt-5 centered">
                  <button class="btn btn-success" id="submit" disabled type="submit">Submit</button>
                  <input type="reset" id="reset" disabled class="btn btn-outline-dark" value="Reset">
                </div>
              </form>
        </div>
    </div>
{% endblock %}
