{% extends "layout.html" %}

{% block title %}
    Professors
{% endblock %}

{% block main %}
    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-primary mb-0 text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/lectures">Lectures</a></li>
            <li class="breadcrumb-item active" aria-current="page">Professors</li>
            </ol>
        </nav>
    </div>

    <div class="mb-3 pt-5 container-sm mx-auto" style="width: 30%;">
        <div class="col mx-auto">
            <form action="professors" method="post">
                <label for="professor_name" class="form-label text-center">Name:</label>
                <input type="text" class="form-control" id="professor_name" placeholder="Professor's name" name="professor_name" required autofocus>
                <div class="container-sm centered">
                    <input type="submit" class="btn btn-outline-dark mt-3" value="Register">
                </div>
            </form>
        </div>
      </div>

    <div class="pt-5 container-sm" style="width:30%;">
        <table class="table table-hover pt-5 table-sm align-middle">
            <theader>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </theader>
            <tbody>
                {% for p in professors %}
                    <tr>
                         <td>{{ p['name'] }}</td>
                        <td>
                            <form method="post" action="/delete_professor">
                                <button type="submit" name="id" class="btn btn-danger" value="{{ p['id'] }}">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
