{% extends "layout.html" %}

{% block title %}
    Validate code
{% endblock %}

{% block main %}
    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-danger mb-0 text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}
    <form method="post" action="/validate_code">
        <div class="mb-3 pt-5 text-center">
            <label for="email" class="form-label">Type the code here:</label>
            <input type="text" class="form-control w-25 mx-auto" id="code" placeholder="Code" name="code">
            <div id="emailHelp" class="form-text">If you didn't receive the code, please check your Spam folder before submit another time.</div>
            <div id="emailHelp" class="form-text" style="text-decoration: underline;">* If you reload this page, the code that you have received will no longer be valid.</div>
        </div>
        <div class="container-sm text-center">
            <button type="submit" class="btn btn-success mt-4">Submit</button>
            <a href="/login" class="btn btn-outline-dark mt-4">Cancel</a>
        </div>
    </form>
{% endblock %}