{% extends "layout.html" %}

{% block title %}
    View Participants
{% endblock %}

{% block main %}
<div class="container-sm mb-2 pt-5">
    <h3>Lecture: {{ lecture[0]['title'] }}</h3>
</div>

<div class="pt-5 container-sm centered">
    <form method="post" action="/remove_participants">
	<input type="hidden" name="l_id" id="l_id" value="{{ l_id }}">
        <input type="submit" class="btn btn-danger ms-5" value="Delete all participants">
    </form>
</div>

<div class="pt-5 container-sm centered" style="width:20%;">
    <table class="table table-hover pt-5 table-sm align-middle">
        <theader>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </theader>
        <tbody>
            {% for p in participants %}
                <tr>
                    <td>{{ p['fname'] }}</td>
                    <td>{{ p['lname'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
